.gitclub-landing-background{
  background: url('images/landing-background40.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 500px;
}

.landing-body-2{
  background-color: #dbdbdb;
}